/* Bags Section */
.bags-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-image: url(/images/bg-02.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.bags-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.bags-container > * {
  position: relative;
  z-index: 1;
  text-align: right;
}

.right-side-content {
  margin: 40px 15% 0 0;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-side-img img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.sec-title {
  font-size: 42px;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 700;
  color: white;
  margin-bottom: 15px;
  text-align: left;
  text-transform: capitalize;
}

.side-btn {
   background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  margin: 5% 50% 20% 0;
}

.side-btn:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
   cursor: pointer;
}

@media (max-width: 768px) {
  .bags-container {
    padding: 0 20px;
  }

    .bags-container {
    padding: 0 20px;
  }

  .right-side-content {
    width: 100%;
    margin-right: 0;
    align-items: center;
    text-align: center;
  }

  .right-side-img img {
    max-width: 300px;
    margin-right: 0;
  }

  .sec-title {
    font-size: 28px;
    margin-right: 0;
    text-align: center;
  }

  .side-btn {
    margin-right: 0;
  }
  .fashion-container {
    flex-direction: row;
  }

  .left-side-text {
    text-align: center;
  }

  .left-side-content {
    align-items: center;
    min-height: 100vh;
  }
}