/* Base Styles */
:root {
  --color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Red Hat Text", sans-serif;
}

/* Container Section */
.container {
  /* position: relative; */
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/images/bg-01.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.container > * {
  position: relative;
  z-index: 1;
}
.banner{
  position: relative;
}

.title{
  width: 48%;
}
/* Typography */
h1 {
  font-weight: 700;
  font-size: 3rem;
}

.pre-title,
.post-title {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.pre-title {
  font-size: 15px;
}

.post-title {
  font-size: 20px;
}

.main-title {
  font-size: 70px;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 8px;
  color: #fff;
}

.viewCollectionBtn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  margin-top: 10%;
}

.viewCollectionBtn:hover{
   background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}
@media (max-width: 768px) {
  .main-title {
    font-size: 40px;
  }

  .post-title {
    font-size: 15px;
    padding: 0 10px 0 10px;
  }
}
