/* Blazers Section */
.blazers {
  display: flex;
  height: 100vh;
  width: 100%;
}

.blazers-img {
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.blazers-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.text {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  background-color: white;
  text-align: center;
}

.blazer-pre {
  color: black;
  font-size: 14px;
}

.blazer-main {
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  /* font-weight: 500; */
  /* padding: 70px 0 20px; */
  text-align: left;
  text-transform: capitalize;
  padding-top: 20px;
  font-style: italic;
  font-weight: 700;
}

.blazer-post {
  color: grey;
  font-size: 16px;
}

.shopNow {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  border-color: black;
  color: black;
  margin-top: 10%;
}

.shopNow:hover{
   background-color: black;
  color: white;
  border: 2px solid white;
   cursor: pointer;
}

/* Media Queries */
@media (max-width: 1024px) {
  .blazers {
    flex-direction: column;
    height: 90vh;
  }

  .blazers-img {
    display: none;
  }


  .shopNow{
    margin-top: 5%;
  }
}

@media (max-width: 588px){

  .blazer-main{ 
    font-size: 40px;
    text-align: -webkit-center;
  }

  .blazer-post{
    margin-top: 10%;
  }
}


/* Fashion Section */
.fashion-container {
  position: relative;
  width: 100%;
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 80px;
  background-image: url(/images/bg-03.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.fashion-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
   height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.fashion-container > * {
  position: relative;
  z-index: 1;
  text-align: right;
}

.left-side-content {
  position: absolute;
  top: -113px;
  margin-left: 100px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-side-img img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.left-side-text,
.right-side-text {
  width: 100%;
  padding: 0 10px;
}

.post-fashion {
font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: left;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .fashion-container {
    flex-direction: row;
  }

  .left-side-text {
    text-align: center;
  }

  .left-side-content {
    align-items: center;
    min-height: 100vh;
  }
}