.cart-table-wrapper {
  width: 100%;
  overflow-x: auto;
  padding: 20px;
}

.cart-table {
  width: 100%;
  max-width: 100vw;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th {
  border: 1px solid grey;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #f1f1f1;
  text-align: center;
  padding: 16px;
  font-weight: 600;
  font-size: 14px;
}

.cart-table td {
  border: 1px solid grey;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 20px 16px;
  vertical-align: middle;
}

/* Product image */
.cart-img {
  width: 90px;
  height: 120px;
  object-fit: cover;
  border-radius: 4px;
}

.remove-icon {
  gap: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #777;
  cursor: pointer;
}
/* Product details */

.cart-size {
  font-size: 13px;
  color: #777;
  margin-top: 4px;
}

/* Quantity buttons */
.quantity-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

/* .quantity-cell {
  
  align-items: center;
  gap: 10px;
  justify-content: center;
 
} */

.qty-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
  font-size: 18px;
}

.qty-display {
  font-size: 16px;
  width: 20px;
  text-align: center;
}

.total-price {
  font-weight: 400;
  font-family: "Montserrat";
  float: right;
  font-size: 30px;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .total-price {
    text-align: center;
    float: none;
    font-size: 20px;
    font-weight: 500;
  }
}
