.footer{
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  height: 50%;
  padding: 30px;
  background-color: #f1f1f1;
}

.footer-item-title{
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 700;
}

.footer-item-list{
  font-size: 14px;
   color: #424242;
   font-family: "Montserrat", sans-serif;
list-style-type: none
}

@media (max-width:768px) {
  .footer{
    flex-direction: column; 
    align-items: center;
    gap: 20px;
  }

  .footer-item-title{
    text-align: center
  }

  .footer-item-list{
    text-align: center;
  }
}