.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative; /* overlay on banner initially */
  z-index: 5;
  width: 100%;
  height: 100px;
  box-shadow: 2px 1px 1px rgb(10 10 10 / 14%);
}

/* Distribute equal space */
.left,
.centre,
.right {
  flex: 1;
}

.nav-items {
  display: flex;
  gap: 20px;
  font-size: 20px;
  margin-left: 30%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.header-light-text ul li {
  color: white;
}

.header-dark-text ul li {
  color: black;
} 

.nav-items li {
  cursor: pointer;
  position: relative;
  list-style: none;
  text-decoration: none;
}

.nav-items a {
  text-decoration: none;
  color: inherit;
}

.nav-items li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: black; /* Or any color you want */
  transition: width 0.4s ease;
}

.nav-items li:hover::after {
  width: 100%;
}

/* Center the logo inside its section */
.centre {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.right button {
  background-color: transparent;
  border: none;
  /* color: white; */
}

.hamburger {
  display: none;
}
.mobile-menu {
  display: none;
}

.cartCount{
  position: sticky;
    color: white;
    font-size: 15px;
    background-color: black;
    padding: 5px;
    border-radius: 50%;
    /* top: 16px;
    /* left: 0;  
    right: 315px; */
}

.icons{
  color: black !important;
}

.navbar a {
  color: inherit;        /* Use the color of the parent element (.icons) */
  text-decoration: none; /* Remove underline */
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    z-index: 2;
  }

  .hamburger button {
    width: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .left,
  .right {
    display: none;
  }

  .mobile-menu {
    height: 100vh;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0);
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    opacity: 0;
    visibility: hidden;
    height: 0%;
    transition: opacity 0.75s, visibility 0.75s, height 0.75s;
    overflow: hidden;
  }

  .mobile-nav-items {
    list-style: none;
    height: 100%;
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
  }

  .mobile-menu li {
    cursor: pointer;
    list-style-type: none;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .mobile-right {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 3rem 0;
  }

  .mobile-right button {
    background-color: transparent;
    border: none;
    /* color: white; */
  }

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
  .mobile-menu.open {
    opacity: 1;
    visibility: visible;
    height: 100vh;
  }

  /* .cartCount{
            right: 49.3%;
        top: 64%;
            font-size: 12px;
  } */
}

@media (max-width: 1024px) {
  .nav-items {
    margin-left: 6%;
  }

  .right {
    justify-content: end;
    margin-right: 6%;
  }

  /* .cartCount{
    top: 20px;
    right: 106px;
} */
  }

