/* Card Section */
.card {
  padding: 30px;
  text-align: center;
}

.card-content {
  max-width: 52ch;
  line-height: 1.5;
  padding: 1em;
}

.item {
  height: 30%;
  margin: 20px;
  max-width: 320px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 271px;
}

.img {
  width: 100%;
  height: 300px;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

/* .img-first    { background-image: url(/images/first-thumbnail.jpg); }
.img-second   { background-image: url(/images/second_thumbnail.jpg); }
.img-third    { background-image: url(/images/third_thumbnail.jpg); }
.img-fourth   { background-image: url(/images/fourth_thumbnail.jpg); } */

.description {
  font-size: 1rem;
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

.category, .price {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: gray;
  font-weight: 500;
}

.sizes {
  margin: 10px 0;
}

.sizes button {
  margin: 4px;
  padding: 6px 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}

.sizes button:hover {
  background-color: #f0f0f0;
}

.colors {
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 4px;
  border: 1px solid #999;
}


.dot.active {
  border: 1px solid white;        /* inner border */
  outline: 1px solid black;        /* outer border (looks like double border) */
  outline-offset: 2px; 
  transform: scale(1.1);
}

.black { background-color: black; }
.green { background-color: #28a745; }
.red   { background-color: #dc3545; }
.white { background-color: white; }

/* Second Section */
.second {
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.second-title {
  text-align: center;
  font-size: 60px;
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
  font-weight: 500;
  padding: 70px 0 20px;
}